<div class="container">

  <div class="reservation wow fadeInLeft" data-wow-delay="0.4s" id="work">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div id="main-reservation-text"><h1>Crab</h1>
           <p>Crabs are distributed widely in fresh water, from the delta,
            midland, and mountainous areas.</p>
          </div>
        </div>
        <div class="col-md-3">
          <a href="" title="See all" class="btn btn-primary btn-normal
          btn-inline " target="_self">See all</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row grids text-center">
    <div class="col-md-4">
      <div class="view view-tenth">
        <a href="#" title="Hp"> <%= link_to image_tag("pic1.jpg",
          width: Settings.image.size.category_width,
          height: Settings.image.size.category_height),
          class: "img-responsive", alt: "" %></a>
        <div class="label-product">
          <span class="new">From 50$</span>
        </div>
        <div class="mask" >
          <h2>Steaming crab</h2>
          <h3>A wonderful serenity has taken possession of
            my entire soul</h3>
          <div class="info">
              <i class="fa fa-search-plus"></i>
          </div>
        </div>
      </div>

      <div class="product_container wow bounceIn" data-wow-delay="0.4s">
        <h3><a href="#">Steaming crab</a></h3>
        <div class="underheader-line"></div>
        <ul class="person">
          <h4>5 like</h4>
        </ul>
        <p>100 comment</p>
      </div>
    </div>
  </div>
</div>
