@import "bootstrap-sprockets";
@import "bootstrap";

/* form */

.create {
  margin-top: 15px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin-bottom: 30px;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.sign-up {
  margin-bottom: 40px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
}

/* User Profile */

.profile {
  background-color: Beige;
}

.avatar {
  margin-top: 20px;
}
