<div class="header">
  <div class="header_top">
  </div>
</div>

<div class="header_bottom">
  <div class="container">
    <div class="logo">
      <h1><a>Framgia</a></h1>
      <%= link_to "Food & Drink", root_path, class: "btn btn-lg btn-primary" %>
    </div>
    <div class="navigation">
      <div>
        <label class="mobile_menu" for="mobile_menu">
          <span>Menu</span>
        </label>
        <input id="mobile_menu" type="checkbox">

        <ul class="nav">
          <li><a href="index.html">Home</a></li>
          <li class="dropdown"><a href="room.html">Classify</a>
            <ul class="dropdown2">
              <li><a href="room.html">Seafood</a></li>
              <li><a href="room.html">Party</a></li>
              <li><a href="room.html">Coffice</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="about.html">About</a></li>
          <li class="dropdown"><a href="blog.html">You eat with</a>
            <ul>
              <li><a href="blog.html">Alone</a></li>
              <li><a href="blog.html">Friend</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact</a></li>
          <div class="clearfix"></div>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
