<div id="slider">
  <div><%= link_to image_tag("1.jpg", width: 1680, height: 500),
    class: "img-responsive", alt: "img02" %></div>
  <div><%= link_to image_tag("2.jpg", width: 1680, height: 500),
    class: "img-responsive", alt: "img03" %></div>
  <div><%= link_to image_tag("1.jpg", width: 1680, height: 500),
    class: "img-responsive", alt: "img04" %></div>
</div>
